name: nososova
description: Multi-platform wallet for NosoCoin.
publish_to: 'https://github.com/Noso-Project/NosoSova'
homepage: 'https://github.com/Noso-Project/NosoSova'
version: 0.3.6+7

environment:
  sdk: '>=3.0.6 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.18.0
  flutter_bloc: ^8.1.4
  bloc: ^8.1.3
  qr_flutter: ^4.0.0
  qr_code_scanner: ^1.0.1
  permission_handler: ^10.4.3
  provider: ^6.1.2
  drift: ^2.15.0
  sqlite3_flutter_libs: ^0.5.20
  path_provider: ^2.1.2
  path: ^1.8.3
  get_it: ^7.6.7
  shared_preferences: ^2.2.2
  file_picker: ^5.5.0
  archive: ^3.4.10
  flutter_svg: ^2.0.10+1
  flutter_carousel_widget: ^2.1.2
  path_provider_windows: ^2.0.2
  flutter_file_saver_dev: ^0.1.1
  swipeable_button_view: ^0.0.2
  page_transition: ^2.1.0
  http: ^1.2.0
  url_launcher: ^6.2.4
  loading_animation_widget: ^1.2.1
  share_plus: ^7.2.1
  fl_chart: ^0.65.0
  wolt_modal_sheet: ^0.2.0
  window_manager: ^0.3.8
  package_info_plus: ^5.0.1
  noso_dart: ^1.2.1
  ##noso_dart:
  ## path: ../NosoDart
dev_dependencies:
  drift_dev: ^2.15.0
  build_runner: ^2.4.6
  flutter_gen: ^5.3.1
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
flutter:
  fonts:
    - family: Gilroy
      fonts:
        - asset: assets/fonts/Gilroy-Regular.ttf
          weight: 400
        - asset: assets/fonts/Gilroy-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Gilroy-Bold.ttf
          weight: 700
        - asset: assets/fonts/Gilroy-Heavy.ttf
          weight: 800

  assets:
    - assets/
    - assets/fonts/
    - assets/icons/

  generate: true
  uses-material-design: true
